@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* The :root CSS pseudo-class matches the root element of a tree representing the document. */
:root {
    --primary: #bc4123;
    --secondary: #2b3452;
}

body {
    margin: 0;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    background: var(--secondary);
}

* {
    color: white;
    margin: 0;
}

p {
    margin: 20px 0;
}

button {
    border: 0;
    padding: 8px;
    border-radius: 4px;
    color: white;
    background-color: var(--primary);
    cursor: pointer;
}

/* navbar */
header nav {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header nav h1 {
    border-bottom: 3px solid var(--primary);
}

header nav a {
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
}

header nav a.active {
    background: var(--primary);
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* page content */
main {
    max-width: 1200px;
    margin: 40px auto 75px;
}

/* help layout */
.help-layout nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
}

.help-layout nav a {
    padding: 10px;
    border: 2px solid white;
    border-radius: 4px;
    text-decoration: none;
}

.help-layout nav a:hover {
    border-color: var(--primary);
}

.help-layout nav a.active {
    background: var(--primary);
}

/* faq */
.faq .question {
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    border-radius: 4px;
    margin: 20px 0;
}

.faq .question p:last-child {
    text-align: justify;
}

/* contact form */
form {
    margin-top: 30px;
}

form input,
form label span,
form textarea {
    display: block;
}

form input,
form textarea {
    margin-bottom: 30px;
    padding: 8px;
    border-radius: 4px;
    border: 0;
    outline: none;
    width: 300px;
    color: var(--secondary);
}

form label span {
    margin-bottom: 30px;
}

/* careers list */
.careers>a {
    display: block;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 4px;
    margin: 20px 0;
    text-decoration: none;
}

.careers>a:hover p {
    color: var(--primary);
}

.careers p {
    margin: 0;
}

.careers>a p:last-child {
    font-size: 0.8em;
    color: #bbb;
}

/* careers details */
.career-details {
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 4px;
    margin: 20px 0;
}

.career-details .details p {
    text-align: justify;
}

/* breadcrumbs */
.breadcrumbs {
    max-width: 1200px;
    margin: 20px auto;
}

.breadcrumbs>* {
    display: inline-block;
    margin-right: 10px;
}

.breadcrumbs .crumb::after {
    content: '>';
    margin-left: 10px;
}

.breadcrumbs .crumb:last-child::after {
    display: none;
}

.breadcrumbs .crumb a {
    text-decoration: none;
    color: #ddd;
}

.breadcrumbs .crumb:last-child a {
    color: #bc4123;
}

/* Home page */

.home p {
    text-align: justify;
}

/* About page */

.about p {
    text-align: justify;
}

.about-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Footer */

footer {
    text-align: center;
    color: #bbb;
    background-color: #bc4123;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p{
    padding: 12px, 12px;
}

/* Responsive code  */

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 576px) {
    header nav {
        flex-direction: column;
    }

    .contact h3 {
        text-align: center;
    }

    .nav-links {
        gap: 15px;
    }

    form {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}